# ==========================================
# PLANTILLA DE ENTORNO 
# Instrucciones para Dev: Copia este archivo como '.env' y ajusta los valores si es necesario.
# NUNCA subas el archivo '.env' real a GitHub.
# ==========================================

# --- 1. ENTORNO GLOBAL ---
NODE_ENV=

# --- 2. CONFIGURACIÓN DEL CONTENEDOR POSTGRESQL ---
# Estas variables las lee la imagen oficial de Postgres para crear la BD inicial
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# --- 3. CONFIGURACIÓN DE CONEXIÓN PARA NESTJS (Backend) ---
# NestJS usará estas variables para conectarse a la base de datos
DB_TYPE=
# ¡IMPORTANTE! El host no es localhost, es el nombre del servicio en el docker-compose
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# --- 4. CONFIGURACIÓN PARA VUE / VITE (Frontend) ---
# En Vite, todas las variables que queramos usar en el Frontend 
# DEBEN empezar obligatoriamente por "VITE_"
VITE_API_URL=

